@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 900;
}

html, body {
    cursor: url("../images/icons/cursor.svg") 0 0, none !important;

}

// a, button {
//    cursor: none !important;

//     &:hover{
//         cursor: none !important;

//     }
//   }
  

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif ;
    scroll-behavior: smooth;
    // cursor: none !important;

    &::selection{
        background-color: var(--primary-color);
        color: var(--light-color); 
    }
    
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--light-color);
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--primary-color); 
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color); 
    }
}

.overflowNone{
    overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: 0);
}

a {
    text-decoration: none !important;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

button {
    outline: none !important;
    border: 0px !important;
}

.swiper-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    .swiper-pagination-bullet {
      width: 33px;
      height: 3px;
      background-color: rgba($color: #000, $alpha: 0.50);
      border-radius: 2px;

      &.swiper-pagination-bullet-active {
        opacity: 1 !important;
        background-color: var(--primary-color);
      }
    }
}

// Hide default cursor everywhere
.swiper,
.swiper-wrapper,
.swiper-slide,
.swiper-button-next,
.swiper-button-prev,
.swiper-pagination,
.navbar,
.navbar *,
a,
button,
[class*="swiper"] {
    cursor: none !important;
}